<section class="footer">
    <div class="container">
        <div class="navigation">
            <p>Gift & Decoration Store</p>
            <nav>
                <ul>
                    <li>Home</li>
                    <li>Shop</li>
                    <li>Product</li>
                    <li>Blog</li>
                    <li>Contact Us</li>
                </ul>
            </nav>
        </div>
        <div class="copyright">
            <div class="copyright__items">
                <p>Copyright © 2023 Gift & Decoration Store. All rights reserved</p>
                <strong>Privacy Policy</strong>
                <strong>Terms of Use</strong>
            </div>
            <div class="copyright__socialMedia">
                <img src="../../../assets/svg/instagram.svg" alt="instagram">
                <img src="../../../assets/svg/facebook.svg" alt="Facebook">
                <img src="../../../assets/svg/youtube.svg" alt="Youtube">
            </div>
        </div>
    </div>
</section>